.header{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 20px 0;
    background-color: transparent;

    &__content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 30px;
        border: 5px solid var(--header-outline);
        border-radius: 20px;
    }

    &__title{
        font-size: 46px;
        color: #fff;
    }

    &__score{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 170px;
        border-radius: 20px;
        padding: 10px;
        background-color: #fff;
        box-shadow: 2px 2px 20px rgb(3, 4, 24);
    }

    &__scoreText{
        font-size: 36px;
        font-weight: 700;
        color: var(--score-text);
    }

    &__scoreNumber{
        font-size: 64px;
        font-weight: 600;
        color: var(--dark-text);
    }
}