@import url(https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100;200;300;400;500;600;800;900&display=swap);

:root {
    --scissors: hsl(39, 89%, 49%) to hsl(40, 84%, 53%);
    --paper: hsl(230, 89%, 62%) to hsl(230, 89%, 65%);
    --rock: hsl(349, 71%, 52%) to hsl(349, 70%, 56%);
    --cyan: hsl(189, 59%, 53%) to hsl(189, 58%, 57%);
    --dark-text: hsl(229, 25%, 31%);
    --score-text: hsl(229, 64%, 46%);
    --header-outline: hsl(217, 16%, 45%);
}

*,
*::before, 
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Barlow Semi Condensed', sans-serif;
    text-transform: uppercase;
}
body{
    position: relative;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(31,55,86,1) 0%, rgba(20,21,57,1) 100%);
}
button{cursor: pointer;}

.container{
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}
.fa-solid{
    pointer-events: none;
}
.rock-icon,
.paper-icon,
.scissors-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.win{
    box-shadow: 1px 1px 1px 50px rgba(255, 255, 255, 0.05),
                1px 1px 1px 100px rgba(255, 255, 255, 0.04),
                1px 1px 1px 150px rgba(255, 255, 255, 0.03);
}