@import url(https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100;200;300;400;500;600;800;900&display=swap);
:root {
  --scissors: hsl(39, 89%, 49%) to hsl(40, 84%, 53%);
  --paper: hsl(230, 89%, 62%) to hsl(230, 89%, 65%);
  --rock: hsl(349, 71%, 52%) to hsl(349, 70%, 56%);
  --cyan: hsl(189, 59%, 53%) to hsl(189, 58%, 57%);
  --dark-text: hsl(229, 25%, 31%);
  --score-text: hsl(229, 64%, 46%);
  --header-outline: hsl(217, 16%, 45%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Barlow Semi Condensed", sans-serif;
  text-transform: uppercase;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgb(31, 55, 86) 0%, rgb(20, 21, 57) 100%);
  background-repeat: no-repeat;
  background-size: cover;
}

button {
  cursor: pointer;
}

.container {
  position: relative;
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.fa-solid {
  pointer-events: none;
}

.rock-icon,
.paper-icon,
.scissors-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
}

.win {
  box-shadow: 1px 1px 1px 25px rgba(255, 255, 255, 0.05), 1px 1px 1px 50px rgba(255, 255, 255, 0.04), 1px 1px 1px 75px rgba(255, 255, 255, 0.03);
}

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 20px 0;
  background-color: transparent;
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  padding: 10px;
  margin: 0 auto;
  border: 5px solid var(--header-outline);
  border-radius: 20px;
}
.header__title {
  font-size: 20px;
  color: #fff;
}
.header__score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 80px;
  border-radius: 20px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 2px 2px 20px rgb(3, 4, 24);
}
.header__scoreText {
  font-size: 16px;
  font-weight: 700;
  color: var(--score-text);
}
.header__scoreNumber {
  font-size: 30px;
  font-weight: 600;
  color: var(--dark-text);
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 20px;
}

.start {
  display: flex;
  position: relative;
  width: 50%;
  height: 400px;
}
.start__bg {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;
  background-image: url("../images/bg-triangle.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.start__btn {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background-color: #fff;
  font-size: 150px;
  color: rgb(59, 66, 98);
  transition: all 0.5s ease;
}
.start__img {
  width: 50px;
  height: 50px;
  pointer-events: none;
}
.start__rock {
  position: absolute;
  top: 80%;
  left: 300px;
  border: 10px solid #dd405d;
}
.start__rock:hover {
  border: 1px solid #000;
  box-shadow: 1px 1px 30px 10px #dd405d;
}
.start__paper {
  position: absolute;
  top: 12%;
  left: 130px;
  border: 10px solid #5671f5;
}
.start__paper:hover {
  border: 1px solid #000;
  box-shadow: 1px 1px 30px 10px #5671f5;
}
.start__scissors {
  position: absolute;
  top: 12%;
  left: 460px;
  border: 10px solid #eca922;
}
.start__scissors:hover {
  border: 1px solid #000;
  box-shadow: 1px 1px 30px 10px #eca922;
}

.finish {
  display: none;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 400px;
  gap: 10px;
  color: #fff;
  margin-top: 30px;
}
.finish__gamer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 37%;
  height: 100%;
}
.finish__gamer_title {
  font-size: 24px;
  letter-spacing: 10px;
}
.finish__gamer_result {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 150px;
  color: rgb(59, 66, 98);
  margin-top: 50px;
}
.finish__table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 25%;
  height: 100%;
}
.finish__table_title {
  font-size: 50px;
  letter-spacing: 10px;
}
.finish__table_btn {
  width: 80%;
  height: 80px;
  margin-top: 50px;
  bottom: none;
  border-radius: 20px;
  font-size: 24px;
  font-weight: 700;
  color: #1C2E4E;
  transition: all 0.4s ease;
}
.finish__table_btn:hover {
  box-shadow: rgba(0, 0, 0, 0.5) 0px 20px 30px -10px;
  background-color: transparent;
  color: #fff;
}
.finish__computer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 37%;
  height: 100%;
}
.finish__computer_title {
  font-size: 24px;
  letter-spacing: 10px;
}
.finish__computer_result {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 150px;
  color: rgb(59, 66, 98);
  margin-top: 50px;
}

.modal {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
}
.modal__content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  border-radius: 20px;
  width: 40%;
  height: 600px;
  background-color: #fff;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.5);
}
.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal__title {
  font-size: 48px;
}
.modal__close {
  width: 50px;
  height: 50px;
  background-color: transparent;
  color: rgb(58, 57, 57);
  border: none;
  font-size: 36px;
}
.modal__image {
  width: 560px;
  height: 450px;
  margin-top: 30px;
}

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100px;
  margin-top: 64px;
}

.rules {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
  width: 10%;
  height: 50%;
}
.rules__button {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 4px solid var(--header-outline);
  border-radius: 20px;
  transition: all 0.3s ease;
  font-size: 24px;
  font-weight: 700;
  color: var(--dark-text);
}
.rules__button:hover {
  border: 4px solid #fff;
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
